# files to ignore
*.c
*.csv
*.txt
*.md.html
*.html
*.so
*.py
!cy_gen_ngrams.py
!HDP_helper.py
!term_handler.py
!setup.py

*.ipynb
!explore-parts-of-form.ipynb
!HDP-integrate-terms.ipynb
!HDP-spell-sound-analyzer.ipynb
!HDP-spell-sound-association-analyzer.ipynb
!HDP-text-analyzer.ipynb

# folders to ignore
.ipynb_checkpoints/
.vscode/settings.json
__pycache__/
build/
outdated/
!results/figures/
!results/parts-of-form/
!results/LDAvis/
!results/terms-by-topics/
!results/terms-by-topics-raw/

