# folders to ignore
.ipynb_checkpoints/
.vscode/settings.json
__pycache__/
build/

# files to ignore
inspect-gensim.ipynb
HDP-term-organizer.ipynb
LDA-sound-explorer.ipynb
*.csv
*.txt
*.md.html
*.html

# shared object files
*.so
